<h1>Innovative Codes</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Code</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @code_testers.each do |code_tester| %>
  <tr>
    <td><%= code_tester.Title %></td>
    <td><%= code_tester.Code %></td>
    <td><%= link_to 'Show', code_tester %></td>
    <td><%= link_to 'Edit', edit_code_tester_path(code_tester) %></td>
    <td><%= link_to 'Destroy', code_tester, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Code tester', new_code_tester_path %>
